html,body {
    margin: 0;
    height: 100%;
    padding: 0px;
    background-color: #131313;
}
li {
    color: white;
    text-align: left;
    font-size: 1.3rem;
    }
p{
color: white;
}    
h1,h2,h3{
    padding: 0px;
    color: white;
    text-align: center;
    font-size: 3rem;
}


img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.icon {
	max-height: 70px;
	position:absolute;
	top: 4%;
	left: 2%;
}
#osupfp {
	max-height: 300px;
	position:absolute;
	top:20%;
	left:5%;
}

.about_me{
    margin: 20px;
    background-color: #080714;
    text-align: center;
    padding:20px;
}

.header{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
#header-img{
    background-image: url('img/bg.jpg');
    background-color: rgb(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}
#header-osu{
    background-image: url('https://osu.ppy.sh/images/headers/profile-covers/c7.jpg');
    background-color: rgb(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}
#info{
position:absolute;
top:10%;
left:22%;
font-size:2.5rem;
}
#note{
text-align: center;
font-size: .7rem;
color:white;
}
