body {
    background-color: black;
}
    
html {
    margin: auto;
    width: 50%;
    border: 30px green;
    padding: 10px;
}
p {
    color: blue;
    text-align: center;
    font-size: xx-large;
    }
h1{
    color: blue;
    text-align: center;


}
img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

