
html,body {
    margin: 0;
    height: 100%;
    padding: 0px;
    background-color: #131313;
}
li {
    color: white;
    text-align: left;
    font-size: 1.3rem;
    }
h1,h2{
    padding: 0px;
    color: white;
    text-align: center;
    font-size: 3rem;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.icon {
	display: block;
	max-height: 50px;
}
.about_me{
    margin: 20px;
    background-color: #080714;
    text-align: center;
}

.header{
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
#header-img{
    background-image: url('img/bg.jpg');
    background-color: rgb(0, 0, 0, 0.76);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

#note{
text-align: center;
font-size: .7rem
}
